---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for l in languages %}
  <url>
    <loc>{{ site.url }}{{ l.href }}</loc>
    {%- for alt in languages %}
    <xhtml:link rel="alternate" hreflang="{{ alt.code }}" href="{{ site.url }}{{ alt.href }}" />
    {%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
  </url>
{%- endfor %}
  <url><loc>{{ site.url }}/impressum.html</loc></url>
  <url><loc>{{ site.url }}/datenschutz.html</loc></url>
</urlset>
